import tkinter as tk
from src.utils import create_main_window, create_droidcam_window, create_kinect_window, create_laptop_window

def main():
    root = tk.Tk()
    create_main_window(root)
    root.mainloop()

if __name__ == "__main__":
    main()
